.headerContainer {
    background-color: rgb(15, 162, 230);
    height: 15vh;
    display: flex;
    padding: 20px;
}

.headerContainer img {
    height: 50%;
}

.headerContainer h1 {
    font-size: 8vh;
}