.cardsContainer {
    margin-top: -5vh;
    display: flex;
    justify-content: space-around;
}

.covidInfoContainer {
    width: 25vw;
}

.card {
    width: 30vw;
    height: 30vh;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    box-shadow: 5px 5px 20px;
    overflow: hidden;
}

.selectRegion {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

.numberOfCases {
    margin-left: 4vw;
}

.infoAboutCases {
    margin-top: 30px;
    text-align: center;
}

.newsContainer li {
    margin: 5px;    
}

.contact {
    text-align: center;
}

.reviewContainer {
    background-color: rgb(8, 8, 109);
    color: white;
}

.reviewContainer h1, p{
    text-align: center;
    margin-top: 20px
}

.highlight {
    color: rgb(6, 214, 6);
}

.selectRegion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.confirmedCasesTitle {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberOfCases {
    margin-left: 30px;
}

@media (max-width: 833px){
    .cardsContainer {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        
    }
    .card {
        margin-top: 20px;
        height: 50vh !important;
        width: 50vw;
        min-width: 337px !important;
    }
}