.cardsContainer {
    height: 20vh;
    margin-top: -5vh;
    display: flex;
    justify-content: space-around;
}

.covidInfoContainer {
    width: 25vw;
}

.card {
    width: 25vw;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    box-shadow: 5px 5px 20px;
}

.selectRegion {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

.numberOfCases {
    margin-left: 4vw;
}

.infoAboutCases {
    margin-top: 20px;
    text-align: center;
}